$phonePortraitViewportWidth: 30em;     // 480px
$mobileViewportMaxWidth: 47.9375em; //767px;
$tableViewportMaxWidth: 78.6875em; // 1259px
$phoneLandscapeViewportWidth: 48em;
$tabletViewportWidth: 48em; // 768px
$tabletLandscapeViewportWidth: 64em; // 1024px
$desktopViewportWidth: 78.75em; // 1260px
$largedesktopViewportWidth: 93.75em; // 1260px